{% extends 'organizations/base.html' %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">نام سازمان</th>
                    <th scope="col">ثبت کننده</th>
                    <th scope="col">مخاطب</th>
                    <th scope="col">عملیات</th>
                </tr>
                </thead>
                <tbody>
                {% for info in object_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a class="btn btn-outline-dark" href="{% url 'organizations:organizations-detail' info.pk %}">{{ info.brand }}</a></td>
                        <td>{{ info.registrar.get_full_name }}</td>
                        <td>{{ info.fullname_audience }}</td>
                        <td>
                            <button class="btn btn-outline-primary"><a>ثبت پیگیری</a></button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'organizations/pagination.html' %}
    {% endif %}
    {% if not user.is_authenticated %}
        <h3>لظفا ابتدا وارد شوید</h3>
    {% endif %}
{% endblock %}