{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <title>
        پیش فاکتور سازمان
        {{ object.owner.brand }}
    </title>
</head>

<div class="container" dir="rtl">
    <h1>
        سازمان:
        {{ object.owner.brand }}
    </h1>
    <h3>
        کارشناس فروش:
        {{ request.user.get_full_name }}
    </h3>
    <table>
        <thead>
        <tr>
            <th scope="col">نام سازمان</th>
            <th scope="col">نام خریدار</th>
            <th scope="col">تاریخ سفارش</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ object.owner.brand }}</td>
            <td>{{ object.owner.fullname_audience }}</td>
            <td>{{ object.created.date.day }}</td>
        </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">نام دستگاه</th>
            <th scope="col">تعداد</th>
            <th scope="col">تخفیف(درصد)</th>
            <th scope="col">قیمت نهایی (تومان)</th>
        </tr>
        </thead>
        <tbody>
        {% for product in object.quoteitem_set.all %}
            <tr>
                <td>{{ product.product }}</td>
                <td>{{ product.qty }}</td>
                <td>{{ product.discount }}</td>
                <td>{{ product.final_price }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2">
                مبلغ قابل پرداخت:
                {{ object.get_grand_total }}
                تومان
            </td>
        </tr>
        </tfoot>
    </table>
</div>