{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>
        {% block page_header_title %}
            ثبت پیگیری
        {% endblock %}
    </title>
</head>

<body>
<div class="container" dir="rtl">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid navbar-inner">
            <div style="float:right">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                               href="{% url 'organizations:organizations-show' %}"><b>بازگشت</b></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="justify-content-center">
        <form class="form">{% csrf_token %}
            <label for="query"></label>
            <textarea id="query" cols="50" rows="5" maxlength="250" name="content"
                      placeholder="پیگیری خود را این جا بنویسید.."></textarea>
        </form>
        <button id="register" class="btn btn-dark">ثبت</button>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    $(document).ready(function () {
        const csrftoken = getCookie('csrftoken');
        $('#register').click(function () {
            var content = $('#query').val();
            var ajax_config = {
                url: "{% url 'follow_up:create-follow-up' pk %}",
                headers: {'X-CSRFToken': csrftoken},
                data: {
                    content: content,
                },
                method: 'POST',
                success: function (response) {
                    alert('اطلاعات  پیگیری با موفقیت ثبت شد👌');
                    {#window.location.href = "{% url 'organizations:organizations-show' %}";#}
                },
                error: function (response) {
                    alert('اطلاعات نادرست است😱')
                },
            };
            $.ajax(ajax_config);
        });
    });
</script>
</body>



